<h1><%= text_field_tag :name, nil, :placeholder => "Your Mixtape Name" %></h1>

<table>
  <tbody>
    <% @mixtape.songs.each do |song| %>
      <tr data-song-id="<%= song.id %>">
        <td><div class="handle"></div></td>
        <td><%= text_field_tag :song_title, nil, :placeholder => "Song Title" %></td>
        <td><%= text_field_tag :song_artist, nil, :placeholder => "Song Artist" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button id='new-song'>Add a song</button> (or drag and drop an audio file to quickly add one)
