<h1>What is this?</h1>

<p>
Once upon a time we held yearly mixtape competitions during the summer months at
Fog Creek (later including Trello after it spun off). Back in those days we
would just wipe the database every summer because Doug was too lazy to add
support for multiple competitions at once. Now all the old archives have been
restored, cleaned, and merged into one archived copy of mixtapes for your
nostalgia fix.
</p>

<p>
You can still log in (or create an account) to re-live the old days. Most
functionality is read-only, but you can still hit that "stand-out song" button
to get a list of your favorites for shuffling.
</p>

<p>
Names were slightly anonymized, but if there's any data from your past that you
want further removed,
<a href="mailto:douglas.patti@gmail.com" target="_blank">send me an email</a> or
chat me on Slack.
</p>
