<h1>Fog Creek's 7th Annual Summer Mixtape Competition</h1>

<p>Coming up in the next few weeks will be the start of our seventh annual
mixtape competition. It's an awesome chance to showcase some really cool music
and more importantly listen to a lot of great music you likely haven't heard
before. It's a ton of fun, even if you don't have anything to contribute.</p>

<p><b>The deadline for entries is Wednesday, June 25, 2014 by 11:59 PM EDT.</b> If
this does not work for you for some reason, talk to Doug and we'll figure
something out.</p>

<p>Here's a quick run-down on how the competition works:</p>

<ul>
  <li>All mixtape submissions and comments are anonymous until the end of the
  competition.</li>
  <li>Making a mix is as easy as dragging audio files from your computer to the
  browser and re-arranging them as you want. The server will make sure
  everything is tagged properly!</li>
  <li>Your mix can have as many songs as you'd like but should be no longer than
  40 minutes. It's not a strict limit (i.e., you aren't disqualified at 40:01),
  but if you go over 40 minutes, it better be worth it.</li>
  <li>Some people like to mix songs into a single track. If you do this, be sure
  to upload each song individually too and place the single track mix
  first.</li>
  <li>The old mixtapes will be available in an archive soon, but you can find
  them on \\filefc1\share\media\Mixes\.</li>
  <li><b>New this year!</b> We're allowing and encouraging any friends or family
  of Fog Creek to submit a mix to the group. They'll be hidden amongst the rest
  of the mixes, but at the end when we go to vote, votes towards those mixes
  won't count.</li>
  <li>Stand out songs and guesses don't mean anything. They're just for
  fun.</li>
  <li>Voting details to come later in the summer!</li>
</ul>

<p>If you have any questions, comments, or suggestions, <a href="mailto:doug@fogcreek.com">let me know</a>.</p>
