<h1>Password Required</h1>

<p>To access this page you must enter the password for the associated mixtape.</p>

<%= form_tag :controller => 'mixtape', :action => 'authenticate' do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>
