<h1>Voting Procedure</h1>

<p>The end of summer party also marks the end of the mixtape competition, and
all votes and guesses are due before that day. This year's mixtape competition
ends on <%= Settings.contest.end.strftime("%A %B %-d") %> at 12:01 AM.</p>

<h2>How to submit your vote</h2>

To vote, you must send an email to our neutral vote tallier, Ian, in the format
provided. A sample submission has been provided below. Remember, everyone can
vote! If you did not submit a mixtape, just say so on the second line.

<pre>
Name: Doug Patti
My mix: Tixmape

1.) Get Off My Lawn
2.) Transmission Specialist
3.) Vacation Day
4.) Blame It On My ADD
5.) Summer Wind
</pre>

<p><a href="mailto:ian@fogcreek.com?subject=2013 Mixtape competition vote&body=Name:%0AMy mix:%0A%0AMy votes:%0A1.)%0A2.)%0A3.)%0A">Here's a handy link</a></p>

<p>
Here are the rules:
<ol>
  <li>Rank your <b>top three</b> mixes, <b>minimum</b>. Ties are allowed.</li>
  <li>You can rank as many mixes as you like.</li>
  <li>You can't win if you don't vote.</li>
  <li>You cannot vote for your own mix.</li>
</ol>
</p>

<h2>How to submit your guesses</h2>

<p>Really?! It's in the top bar, silly. Here's <a href="/guesses">another
  link</a>. Just fill it out, and we can see who was the best guesser and who
had the most mysterious mix.</p>
